<!-- <p>forgottpassword works!</p>
<div class="mainDiv">
    <mat-card>
        <form [formGroup]="forgetPassword">
            <div>
                <div class="Title">Enter your Email Id
                </div>

            </div>
            <div>
                <mat-form-field appearance="legacy" style="width: 358px;">
                    <mat-label>Email Id</mat-label>
                    <input matInput placeholder="emailId" formControlName="emailId">
                </mat-form-field>
            </div>
            <div>
                <button mat-raised-button (click)="onSubmit()">submit</button>
            </div>

        </form>
    </mat-card>

</div> -->
<div class="main-div">
    <mat-card class="matCard" style="box-shadow: 1px 1px 7px 0px;">
      <form [formGroup]="forgetPassword">
        <div >
  <div fxLayout="row" fxLayoutAlign="center center" style="font-size:24px; margin-bottom: 25px;">
                <span style="color: red;">F</span>
                <span style="color: red;">u</span>
                <span style="color:#fbbc05;">n</span>
                <span style="color:red;">d</span>
                <span style="color : red">o</span>
                <span style="color: red;">o</span>
                <span style="color:red;">N</span>
                <span style="color: red;">o</span>
                <span style="color:red;">t</span>
                <span style="color : red">e</span>
                <span style="color: red;">s</span>
              </div>
  <div class="Title2">Welcome To Fundoofront Login</div>
        </div>
      <div>
  <mat-form-field appearance="outline" class="Log">
                <mat-label>Username</mat-label>
                <input matInput placeholder="username" formControlName="emailId">
              </mat-form-field>
  </div>
        <div class="button">
            <div>
                <a routerLink="/login">login</a>
            </div>
            <div>
                <button mat-raised-button (click)="onSubmit()">submit</button>
            </div>
        </div>

      </form>
    </mat-card>
  </div>