<p>resetpassword works!</p>
<div class="mainDiv"> 
    <mat-card>
        <form [formGroup]="resetPassword1">
            <div>
                <mat-form-field appearance="legacy" style="width: 358px;">
                    <mat-label>new password</mat-label>
                    <input matInput type="password" placeholder="new password" formControlName="password">
                </mat-form-field>
            </div>

            <div>
                <mat-form-field appearance="legacy" style="width: 358px;">
                    <mat-label>confirm password</mat-label>
                    <input matInput type="password" placeholder="conferm password">
                </mat-form-field>
            </div>
            <div>
                    <button mat-raised-button (click)="onSubmitReset()">Submit</button>
                </div>
        </form>
    </mat-card>
</div>
© 2020 GitHub, Inc.