.main-div{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form_field{
    display: flex;
    justify-content: space-between;
}
.form-Email{
    width: 30em;
}