<p>register works!</p>
<div class=main-div>

  <mat-card style="width: 30em; height: 80vh; box-shadow: 1px 1px 7px 0px;">
    <form [formGroup]="registerForm">
    
      <div fxLayout="row" fxLayoutAlign="center center" style="font-size:34px">
        <span style="color: red;">F</span>
        <span style="color: red;">u</span>
        <span style="color:#fbbc05;">n</span>
        <span style="color: red;">d</span>
        <span style="color : red">o</span>
        <span style="color: red;">o</span>
        <span style="color: red;">N</span>
        <span style="color: red;">o</span>
        <span style="color: red;">t</span>
        <span style="color : red">e</span>
        <span style="color: red;">s</span>
      </div>

    
      <div class="Fundoo_Name" fxLayout="row" fxLayoutAlign="center center"
        style="font-size:24px; margin-top: 20px; margin-bottom: 20px; color: blue;"> Fundoo
        Account
      </div>
      <div class="form_field">

        <mat-form-field appearance="outline">
          <mat-label>fnameame</mat-label>
          <input matInput placeholder="firstName" formControlName="fname">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>lastName</mat-label>
          <input matInput placeholder="lastName" formControlName="Lname">
        </mat-form-field>

      </div>

      <div>
        <mat-form-field appearance="outline" class="form-Email">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" formControlName="email">
        </mat-form-field>

      </div>
      <div class="form_field">

        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Password" formControlName="password">
        </mat-form-field>
      </div>
    <!-- <div class="form_field">

        <mat-form-field appearance="outline">
          <mat-label>Mobile Number</mat-label>
          <input matInput placeholder="mobilenumber" formControlName="mobileNumber">
        </mat-form-field>
      </div> -->

      <div class="form_field">
        <button mat-raised-button (click)="onSubmit()">Register</button>

      <!-- <div class="form_field">
          <button mat-raised-button (click)="onSubmit()">login</button>-->
       <a routerLink="/">login</a> 
        
      </div>
    </form>
   
  </mat-card>
</div>